$background: #111;
$color: #D8D8D8;

$background-panel: #1A1A1A;
$border-panel: #333;

$color-information: #007ACC;
$color-danger: #FF2F00;

$color-highlight: #FFF;

// d57e70e236ba4f8d9ebbe1e5c215e656